# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Tinkering with Programming\Algorithms-and-Data-Structures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
